.card-container {
    display: flex;
    justify-content: space-between;
    margin-left: 17vw;
    margin-right: 17vw;
    border: 1px solid #C8D4E2;
    padding-left: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-top: 1vw;
    border-radius: 1vw;
    align-items: center;
}

.card-container-left {
    display: flex;

}

.file-name-container {
    font-size: 1.2vw;
    margin-left: 1vw;

}

.file-title {
    display: flex;
    font-weight: bold;
    margin-bottom: .5vh;
}

.file-size {
    display: flex;
}

.x {
    margin-right: 1.5vw;
    font-size: 1.75vw;
}

.download-image {
    width: 1.5vw;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #1A67DC;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
   margin-right: 1vw;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}


  .x:hover {
    cursor: pointer;
  }