.select-file {
   
 
   
    display: flex;
    justify-content: center;
  
    
   
}

.input {
    
    margin:0;
    padding: 0;
    justify-self: center;
    border-color: white;
    border-style: dashed;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.language-selection {
    border-radius: .5vw;;
    border-color: #C8D4E2;
    padding: .5vw;
   
}